@page "/Alerts"
@model AdminPortal.Web.Pages.AlertsModel
@{
	
}

<body>
	<div class="d-flex flex-row" style="justify-content: space-between;">
		<partial name="Partials/Search" model="new Partials.SearchModel()" />
		<partial name="Partials/LocalitySelect" model="new Partials.LocalityModel()" />
	</div>
</body>