@page "/Home"
@using AdminPortal.Web.Pages
@model HomeModel



<body>
	<partial name="Partials/Search" model="new Pages.Partials.SearchModel()" />
	<partial name="Partials/Map" model="new Pages.Partials.MapModel()" />
</body>