@page
@model AdminPortal.Web.Pages.SearchModel
@{
}

<body>
	<div class="d-flex flex-row">
		<partial name="Partials/Search" model="new Pages.Partials.SearchModel()" />
		<div class="align-content-end">
			<partial name="Partials/LocalitySelect" model="new Pages.Partials.LocalityModel()" />
		</div>
	</div>
</body>