@page
@model AdminPortal.Web.Pages.Installations.EditModel

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Asset</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Asset.ID" />
			<div class="form-group">
				<label asp-for="Asset.ZIP" class="control-label"></label>
				<input asp-for="Asset.ZIP" class="form-control" />
				<span asp-validation-for="Asset.ZIP" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.Latitude" class="control-label"></label>
				<input asp-for="Asset.Latitude" class="form-control" />
				<span asp-validation-for="Asset.Latitude" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.Longitude" class="control-label"></label>
				<input asp-for="Asset.Longitude" class="form-control" />
				<span asp-validation-for="Asset.Longitude" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
