@page
@model AdminPortal.Web.Pages.Assets.CreateModel

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asset</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Asset.ID" class="control-label"></label>
				<input asp-for="Asset.ID" class="form-control" />
				<span asp-validation-for="Asset.ID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Asset.ZIP" class="control-label"></label>
				<input asp-for="Asset.ZIP" class="form-control" />
				<span asp-validation-for="Asset.ZIP" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input class="btn btn-primary" onclick="setMarker(@Model.Asset.ZIP)" type="submit" value="Create" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-page="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
