@page
@model AdminPortal.Web.Pages.Partials.LocalityModel

<div class="dropdown">
	<select class="btn btn-secondary">
		<option class="dropdown-item" value="" style="background-color: white;">Select your locality</option>
		<option class="dropdown-item" value="kothrud" style="background-color: white;">Kothrud</option>
		<option class="dropdown-item" value="karvenagar" style="background-color: white;">Karvenagar</option>
		<option class="dropdown-item" value="wakad" style="background-color: white;">Wakad</option>
		<option class="dropdown-item" value="dhanakawadi" style="background-color: white;">Dhanakawadi</option>
	</select>
</div>