@model SearchModel

<body>
	<form action="Partials/Search" method="get">
		<div class="d-flex flex-row" style="justify-content: space-between;">
			<div id="search-div" class="form-group">
				<input asp-for="@Model.SearchString" value="@Model.SearchString" class="form-control" id="search-bar" placeholder="Enter ID" />
			</div>
			<div>
				<button class="btn btn-primary" type="submit">Search</button>
			</div>
		</div>
	</form>
</body>