@model SearchModel

<head>
	<script type="text/javascript">
        let width = document.getElementById('header').offsetWidth();
        document.documentElement.style.setProperty('--width', width);
	</script>
	<style>
		:root {
			--width: 0px;
		}

		#search-div {
			width: var(--width);
		}
	</style>
</head>

<body>
	<form formaction="Partials/Search" method="get">
		<div class="d-flex flex-row" style="justify-content: space-between;">
			<div id="search-div" class="form-group">
				<input asp-for="@Model.SearchString" value="@Model.SearchString" class="form-control" id="search-bar" placeholder="Enter ID" />
			</div>
			<div>
				<button class="btn btn-primary" type="submit">Search</button>
			</div>
		</div>
	</form>
</body>