@model SearchPartialModel

<form asp-page-handler="ID" formaction="Partials/SearchPartial" method="get">
	<div class="d-flex flex-row">
		<div class="form-group" style="margin-right: 0.5%;">
			<input asp-for="@Model.ID" aria-valuenow="@Model.ID" class="form-control" placeholder="Enter ID" />
		</div>
		<div>
			<button class="btn btn-primary" type="submit">Search</button>
		</div>
	</div>
</form>
