
@model SelectLocModel

<div class="d-flex flex-row">
	<div class="dropdown">
		<form method="get">
			<select asp-for="Location" asp-items="Model.Locations"
					class="btn btn-secondary" onchange="this.form.submit()">
			</select>
		</form>
	</div>

	<div>
		<a asp-page="/Locations/Create" class="btn btn-secondary" style="background-color: blueviolet;">+</a>
	</div>
</div>
