@model SelectLocModel

@{
}



<div id="dropdown-div" class="dropdown">
	<select asp-for="Location" asp-items="Model.Locations" onchange="moveToLoc(this.value)"
			id="select-loc" class="btn btn-secondary"></select>
</div>
