@model SidebarPartialModel

<head>
	<style>
		.sidebar {
			height: 100%;
			width: 30%;
			margin-right: 0.5%;
		}
	</style>
</head>
<body>
	<div id="siderbar-div" class="sidebar">
		<input class="form-control" />
	</div>
</body>