@model AdminPortal.Web.Models.Asset
@inject Services.DbService dbService

@{
	ViewData["Title"] = "Create";

	IList<SelectListItem> selectListItems = new List<SelectListItem>();
	foreach (var location in dbService.Locations)
	{
		selectListItems.Add(new SelectListItem
		{
			Value = location.Id.ToString(),
			Text = location.Name,
		});
	}

}

<h1>Create</h1>

<h4>Asset</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Location" class="control-label"></label>
				<div class="d-flex flex-row form-group">
					<select asp-for="LocationId" asp-items="selectListItems"
							class="btn btn-secondary form-control" style="background-color: blueviolet;">
						<option value="0">Select Location</option>
					</select>
					<a asp-action="Add" asp-controller="Locations" class="btn btn-secondary" style="width: 10%;">+</a>
				</div>
			</div>
			<div class="form-group">
				<label asp-for="Latitude" class="control-label"></label>
				<input asp-for="Latitude" class="form-control" />
				<span asp-validation-for="Latitude" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Longitude" class="control-label"></label>
				<input asp-for="Longitude" class="form-control" />
				<span asp-validation-for="Longitude" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
