<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>AdminPortal</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
	<header id="header" style="margin-bottom: 1%;">
		<div class="bg-light d-flex flex-row-reverse navbar-brand">
			<a asp-page="Alerts" class="btn btn-primary nav-link" role="button">Alerts</a>
			<a asp-page="List" class="btn btn-primary nav-link" role="button">List View</a>
			<a asp-page="Map" class="btn btn-primary nav-link" role="button">Map</a>
		</div>
	</header>

	<div class="container-fluid">
		<div class="d-flex flex-row">
			<partial name="Partials/SidebarPartial" model="new Partials.SidebarPartialModel()" />
			<div id="render-div" class="d-flex flex-column" style="margin-left: 0.5%; width: 100%;">
				<partial name="Partials/SearchPartial" model="new Partials.SearchPartialModel()" />
				<main id="main" class="pb-3" role="main" style="width: 100%;">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script asp-append-version="true" src="~/js/site.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
