<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>AdminPortal</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
	<header id="header" style="margin-bottom: 1%;">
		<nav class="navbar bg-light d-flex flex-row">
			<a asp-page="/Index" class="navbar-brand" 
				style="color: blue; margin-left: 1%;">Map</a>
			<div class="d-flex flex-row nav-tabs">
				<a asp-page="/Assets/Index" class="btn btn-secondary"
				   style="background-color: blue; margin-left: 1%;">List</a>
				<a asp-page="/Alerts/Index" class="btn btn-secondary"
				   style="background-color: blue; margin-left: 1%">Alerts</a>
			</div>
		</nav>
	</header>

	<div class="container-fluid">
		<div class="d-flex flex-row">
			<div id="render-div" class="d-flex flex-column" style="margin-left: 0.5%; width: 100%;">
				<main id="main" class="pb-3" role="main" style="width: 100%;">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>

	<footer style="margin-top: 1%;">
		<div class="d-flex flex-row-reverse" style="width: 100%;">
			
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script asp-append-version="true" src="~/js/site.js"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
