@page "/Login"
@using AdminPortal.Login.Pages
@model LoginModel

<header class="text-center" style="height: 100px;">
	<marquee><h1 style="color: blueviolet">ऍडमिन पोर्टल मध्ये आपले स्वागत असो (Welcome to the Admin Portal)</h1></marquee>
</header>

<div class="jumbotron" style="min-height: 100%; min-width: 100%;">
	<div class="modal-title text-center">
		<h1 style="color: blue;">Enter your Login Credentials</h1>
	</div>
	<form method="post">
		<div class="form-group text-center">
			<div>
				<input name="phoneNumber" class="form-control input-group" value="" placeholder="Phone Number" type="tel"
					   style="margin-bottom: 2%;" />
				<input name="password" class="form-control input-group" value="" placeholder="Password" type="password"
					   style="margin-bottom: 2%;" />
				<button class="btn btn-primary" type="submit">
					Log In
				</button>
			</div>
		</div>
	</form>
</div>
